body
{
	background: linear-gradient(-45deg, rgba(126, 141, 245, 0.85), rgba(130, 222, 176, 0.85)),
	url(../images/background/login.jpg) center no-repeat no-repeat;
	background: -moz-linear-gradient(-45deg, rgba(126, 141, 245, 0.85), rgba(130, 222, 176, 0.85)),
	url(../images/background/login.jpg) center no-repeat no-repeat;
	background: -webkit-linear-gradient(-45deg, rgba(126, 141, 245, 0.85), rgba(130, 222, 176, 0.85)),
	url(../images/background/login.jpg) center no-repeat no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
}

/* base of the text */
.text-top,
.text-bottom
{
	color: white;
	font-family: 'Source Code Pro', Arial, serif;
	font-weight: 500;
	position: absolute;
	text-align: center;
	width: 100%;
}

/* top of the sheet box */
.text-top
{
	top: 5%;
}

/* bottom of the sheet box */
.text-bottom
{
	bottom: 0;
}

.text-bottom:after
{
}

/* base of the center attributes */
.center-box,
.login-form
{
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
}

/* the transport of box in the center of window */
.center-box
{
	height: 650px;
	margin: -325px 0 0 -375px;
	width: 750px;
}

/* sheet form */
.login-form
{
	background: rgba(255, 255, 255, 0.7);
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px; /* Firefox */
	-webkit-border-radius: 2px; /* Safari, Chrome */
	box-shadow: 0 0 20px #999;
	-moz-box-shadow: 0 0 20px #999; /* Firefox */
	-webkit-box-shadow: 0 0 20px #999; /* Safari, Chrome */
	font-size: 1.2em;
	height: 400px;
	margin: -200px 0 0 -275px;
	padding: 10px 40px 10px 40px;
	width: 550px;
}

/* text attribute of inside sheet form */
.login-form .text-title
{
	font-family: 'Source Code Pro', Arial, serif;
	font-size: 40px;
	font-weight: 500;
}

/* label color */
.input-field label
{
	color: #645757;
}

/* icon prefix focus color */
.input-field .prefix.active
{
	color: #FF6666;
}

/************** for password, text **************/
/* label focus color */
.input-field input[type=password]:focus + label,
.input-field input[type=text]:focus + label
{
	color: #FF6666;
}

/* label underline focus color */
.input-field input[type=password]:focus,
.input-field input[type=text]:focus
{
	border-bottom: 1px solid #FF6666;
	box-shadow: 0 1px 0 0 #FF6666;
}

/* label underline focus color and valid */
.input-field input[type=password]:focus.valid,
.input-field input[type=text]:focus.valid
{
	border-bottom: 1px solid #FF6666;
	box-shadow: 0 1px 0 0 #FF6666;
}

/* valid color */
.input-field input[type=password].valid,
.input-field input[type=text].valid
{
	border-bottom: 0 solid #551000;
	box-shadow: 0 1px 0 0 #551000;
}

/************** for checkbox **************/
.checkbox-change-color:checked + label:before
{
	border-bottom: 2px solid #FF6666; /* You need to change the colour here */
	border-left: 2px solid transparent;
	border-right: 2px solid #FF6666; /* And here */
	border-top: 2px solid transparent;
	height: 22px;
	left: -3px;
	top: -4px;
	transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	-o-transform: rotate(40deg);
	-webkit-transform: rotate(40deg);
	transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	width: 12px;
	-webkit-backface-visibility: hidden;
}

#submit
{
	margin-top: 50px;
}