{% extends "login/__base.html" %}
{% load staticfiles %}

{% block header-import %}
	<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:600,500,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
	<div class="row">
		<div>
			<img src="{% static "images/Icon.png" %}" height="35" width="35">
			Chlorina
		</div>
	</div>
	<div>

	</div>
	<div>
		Jieyi powering all things to do © 2015 TimeSheet Industries Ltd.<br>
		<img src="{% static "images/Icon.png" %}" height="28" width="28">
	</div>
{% endblock %}